.home-container {
    padding: 20px;
    text-align: center;
  }
  
  .home-container h1 {
    color: #ffffff;
  }
  
  .home-container p {
    font-size: 1.1rem;
    color: #ffffff;
    margin-top: 10px;
  }